* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #92a2c3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
